* {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
}

#gravity {
  width: 3em;
}

#gravityChangeButton {
  width: 6em;
  border-radius: 1em;
  box-shadow: 0;
}

#lift {
  width: 3em;
}

#liftChangeButton {
  width: 6em;
  border-radius: 1em;
  box-shadow: 0;
}

#speed {
  width: 3em;
}

#speedChangeButton {
  width: 6em;
  border-radius: 1em;
  box-shadow: 0;
}

#godMode {
  color: white;
  background-color: red;
  width: 6em;
  border-radius: 1em;
  box-shadow: 0;
}
